<launch>

  <param name="pub_topic" type="string" value="Point_Cloud" />
  <param name="lidar_port" type="int" value="8031" />
  <param name="intensity_mode" type="int" value="0" />

  <node pkg="pointcloud" type="real-time_pub_v31.py" name="PointCloud" output="screen" />
  <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="0 0 0 3.14 0 0 lidar lidar_points 100"/>
  <node name="run_rviz" pkg="pointcloud" type="run_rviz.sh" output="screen"/>

</launch>
